__pycache__/
*.pyc
*.pyo
*.pyd
env/
envs/
venv/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
logs/
db.sqlite3
.env
.venv
*.sqlite3
node_modules/
coverage_html_report/
Dockerfile
docker-compose*.yml
*.log
